
        set vlans {{vlan_name}} vlan-id {{vlan_id}}

{% if hostvars[inventory_hostname].type=="backbone" %}

    {% if is_layer3=="True" and ( (hostvars[inventory_hostname].model=="qfx") or (hostvars[inventory_hostname].model=="ex3400") or (hostvars[inventory_hostname].model=="ex4600") ) %}

        set interfaces irb unit {{vlan_id}} description {{vlan_name}}
        set interfaces irb unit {{vlan_id}} family inet address 10.{{site_id}}.{{vlan_id}}.254{{subnet}}
        set vlans {{vlan_name}} l3-interface irb.{{vlan_id}}
        set forwarding-options dhcp-relay group clients interface irb.{{vlan_id}}

    {%endif%}

    {% if is_layer3=="True" and ( hostvars[inventory_hostname].model=="ex3300" ) %}

        set interfaces vlan unit {{vlan_id}} description {{vlan_name}}
        set interfaces vlan unit {{vlan_id}} family inet address 10.{{site_id}}.{{vlan_id}}.254{{subnet}}
        set vlans {{vlan_name}} l3-interface vlan.{{vlan_id}}
        set forwarding-options helpers bootp interface vlan.{{vlan_id}} server {{dhcp_server}}

    {%endif%}

    {% if vlan_type=="users" and location=="PT" and hostvars[inventory_hostname].model=="qfx" %}

        set forwarding-options analyzer lightcyber_Cell input ingress vlan {{vlan_name}}

    {%endif%}

    {% if hostvars[inventory_hostname].model=="qfx" %}

        set protocols vstp vlan {{vlan_id}} bridge-priority 4k
        
    {%endif%}

{%endif%}